<div class="conatiner container-fluid w-100 h-100" id="bg-app">
  <div class="row">
    <div class="col col-6 text-center mt-5 d-flex">
      <img
        src="../assets/home-image.png"
        width="800"
        height="500"
        class="rounded img-fluid align-self-center pl-5 pt-5"
      />
    </div>
    <div class="col col-6 mt-5 d-flex">
      <p class="text-white text-center align-self-center p-5 display-4 lh-lg">
        Post a Picture you like and you can share it with your friends in
        <span class="text-warning font-weight-bold">Instagram</span>
      </p>
    </div>
  </div>
</div>
