<div class="container" id="bg-signup">
  <div class="row mt-5">
    <div class="col col-6 offset-3">
      <div class="card shadow rounded bg-body mb-5 p-3">
        <div
          class="card-header text-center text-uppercase btn-submit text-white font-weight-bold"
        >
          SignUp
        </div>

        <div class="card-body">
          <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Enter Email"
                ngModel
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Enter Password"
                ngModel
                required
              />

              <div class="form-text">
                <small class="text-muted"
                  >Password must be of length 6 characters.</small
                >
              </div>
            </div>

            <div class="mb-3 text-center rounded">
              <button
                class="btn text-white rounded-pill p-2 w-25 font-weight-bold btn-submit"
                type="submit"
              >
                SignUp
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="m-3 text-center">
        or
        <hr />
      </div>

      <div class="m-3 text-center">
        <button
          class="btn btn-lg btn-submit rounded-pill p-2 w-50 font-weight-bold text-white"
          (click)="handleGoogleSignup()"
        >
          <i class="bi bi-google"></i>
          SignUp with Google
        </button>
      </div>
    </div>
  </div>
</div>
